body * {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

.hero {
  background-color: #f1f3ff;
}

.btn__global {
  background-color: #5cb85f;
  color: white;
  border: none;
  padding: 8px 12px 8px 12px;
  border-radius: 2px;
  font-weight: 700;
}

.mobil {
  background-repeat: no-repeat;
  background-position: center bottom;
}

.navbar-brand {
  width: 100px;
  background-color: #0d28a6;
  height: 34px;
}

.nav__spacing {
  padding-right: 32px;
}

.our__section {
  margin-top: 100px;
}

.why__us {
  margin-top: 100px;
  margin-bottom: 100px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}

.subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.ordinary__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.container__text {
  margin-top: -50px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list {
  padding: 6px 50px;
  background-image: url(https://i.ibb.co/tsPLsW1/liststyle.png);
  background-repeat: no-repeat;
  background-position: 0em;
}

.sublist {
  padding-left: 75px;
}

.card__title {
  padding-bottom: 6px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.card__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.card-body {
  padding: 26px;
  border-radius: 8px;
  border: solid 1px #d0d0d0;
  height: auto;
}

.whyicon {
  padding-bottom: 16px;
}

.head__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  padding-bottom: 16px;
}

.head__sub {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 40px;
}

.box {
  border-radius: 13px;
  background: var(--primary-dark-blue-04, #0d28a6);
  width: 100%;
  height: 100%;
}

.getting__title {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
  padding-top: 64px;
}

.getting__sub {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  padding-top: 16px;
  padding-bottom: 64px;
}

.faq {
  margin-top: 100px;
  margin-bottom: 150px;
}

.testimoni {
  margin-bottom: 100px;
}

.testimoni__img {
  border-radius: 100%;
  width: 80px !important;
  height: 80px !important;
}

.testimoni__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  padding: 8px 0px 8px 0px;
}

.review__container {
  margin-left: -15px;
}

.review {
  padding-left: 90px;
}

.foot {
  height: 250px;
}

.carousel__box {
  height: 270px;
  width: 620px;
  background-color: #f1f3ff;
  border-radius: 8px;
}

.carousel__content {
  height: 270px;
}

.btn__carousel {
  height: 40px;
  width: 40px;
  border: 1px solid #c4c4c4;
}

.accordion__list {
  margin-bottom: 16px;
  border-radius: 4px;
}

@media (min-width: 1px) and (max-width: 767px) {
  .container__text {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .main {
    height: 30%;
    width: 100%;
  }

  .mobil {
    height: auto;
    width: 100%;
    padding-top: 24px;
    overflow: hidden;
  }

  .img__happy {
    width: 90%;
    height: auto;
    margin-bottom: 30px;
  }

  .sublist {
    padding: 0px 16px 0px 16px;
  }

  .list {
    font-size: 14px;
    padding: 6px 40px;
  }

  .why__us {
    margin-top: 50px;
  }

  .head__sub,
  .head__title {
    text-align: center;
  }

  .carousel__box {
    height: 45vh;
    width: 90vw;
    background-color: #f1f3ff;
    border-radius: 8px;
  }

  .carousel__content {
    height: 270px;
  }

  .getting__title {
    font-size: 24px;
  }

  .getting__sub {
    font-size: 14px;
    padding: auto;
  }

  .faq {
    margin-bottom: 50px;
  }

  .review__container {
    margin-left: 0px;
  }

  .testimoni__text {
    padding: 18px 32px 8px 32px;
  }

  .star {
    text-align: center;
    padding-top: 18px;
  }

  .btn__global {
    width: auto;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .main {
    width: 100%;
    height: 75vh;
  }

  .container__text {
    padding: 40px 0 0 20px;
  }

  .mobil {
    height: auto;
    width: 100%;
  }

  .img__happy {
    width: 90%;
    height: auto;
    margin-bottom: 30px;
  }
}
